<%- include('../includes/head.ejs') %>
<body>

    <%- include('../includes/navigation.ejs') %>
  <main>

    <% if (orders.length > 0) { %> 
      <ul>
        <% orders.forEach(order => { %>  
          <li>
            <h1># <%= order._id %></h1>
            <ul>
              <% order.items.forEach(product => { %>
                <li><%= product.title %> (<%= product.quantity %>)</li>
              <% }); %>
            </ul>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
     <h1>Nothing Yet</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>